
<div class="container">
  <div class="display-5">

  </div>

<table class="table">
  <thead>

    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th scope="row">{{product.id}}</th>
      <td> <a [routerLink]="['/product',product.id]">{{product.name}}</a></td>
      <td>{{product.price}}</td>
      <td>{{product.category}}</td>
      <td><button class="btn btn-danger" (click)="delete(product)">Remove</button> </td>
    </tr>
  </tbody>
</table>
</div>
